Strings Are The Sequence of Characters Which Are Placed Either In Single or In Double quotes.

In [2]:
'Hello World!'

'Hello World!'

In [3]:
"Hello World!"

'Hello World!'

In [6]:
"Hi, There I'm Raj" #We can use single quote inside double quotes or vice-versa

"Hi, There I'm Raj"

In [8]:
#new line
print("Hi there, \n this is Raj")

Hi there,
 this is Raj

In [9]:
#Tab
print("hi there \t raj")

hi there 	 raj

In [10]:
Name = 'Ashish'
print(Name)

Ashish